@model TaskManager.Models.TaskItem

<h2>Thêm công việc</h2>
<div class="row alert alert-primary">
    <div class="col-md-4">
        <form asp-action="CreateTask">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input asp-for="IsDone" class="form-check-input" />
                <label asp-for="IsDone" class="form-check-label"></label>
            </div>
            <input type="submit" value="Thêm" class="btn btn-success" />
            <a asp-action="ListTasks" class="btn btn-info">Quay lại</a>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}