@model TaskManager.Models.TaskItem

<h2>Xóa công việc</h2>
<div class="alert alert-danger">
    <h4>Bạn có chắc muốn xóa?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Tiêu đề</dt>
        <dd class="col-sm-10">@Model.Title</dd>
        <dt class="col-sm-2">Chi tiết</dt>
        <dd class="col-sm-10">@Model.Details</dd>
        <dt class="col-sm-2">Ngày</dt>
        <dd class="col-sm-10">@Model.Date.ToString("dd/MM/yyyy")</dd>
        <dt class="col-sm-2">Trạng thái</dt>
        <dd class="col-sm-10">@(Model.IsDone ? "Hoàn thành" : "Chưa xong")</dd>
    </dl>
</div>
<form asp-action="DeleteTask">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Xóa" class="btn btn-danger" />
    <a asp-action="ListTasks" class="btn btn-info">Quay lại</a>
</form>