@{
    ViewData["Title"] = "Chính Sách Bảo Mật";
}
<h1>@ViewData["Title"]</h1>

<p>
    Chúng tôi cam kết bảo vệ quyền riêng tư của bạn. Dữ liệu cá nhân của bạn sẽ không được chia sẻ 
    với bên thứ ba mà không có sự đồng ý của bạn.
</p>
<p>
    Dữ liệu của bạn được lưu trữ an toàn trên máy chủ của chúng tôi, tuân thủ các tiêu chuẩn bảo mật cao.
</p>
<p>
    Nếu bạn có bất kỳ câu hỏi nào về quyền riêng tư, vui lòng liên hệ với chúng tôi qua email: 
    <strong>support@taskmanager.com</strong>
</p>
